<!DOCTYPE html>
<html >
   <head>
      <meta charset="UTF-8">
      <title>Vikram Bahl - Home on the Web</title>
      <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
      <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
   </head>
   <body>
      <header class="navbar navbar-default navbar-fixed-top" id="banner" style="top: 0px;">
         <div class="container header">
            <div class="col-md-6">
               <a rel="nofollow" class="scrollable" href="#top" class="brand center-block">
                  <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>&nbsp;
                  <p style="display:inline-block;" class="myName">Vikram Bahl</p>
               </a>
               <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="col-md-6">
               <nav class="collapse navbar-collapse navbar-right" id="navbar" role="navigation" aria-expanded="false" style="width:400px">
                  <ul class="nav navbar-nav navbar-right">
                     <li class="menulist active" id="menu1"><a rel="nofollow" class="scrollable" href="#top">About</a></li>
                     <li class="menulist" id="menu2"><a rel="nofollow" class="scrollable" href="#portfolio">Portfolio</a></li>
                     <li class="menulist" id="menu3"><a rel="nofollow" class="scrollable" href="#contact">Contact</a></li>
                  </ul>
               </nav>
            </div>
         </div>
      </header>
      <div class="container-fluid main-body">
         <div class="well">
            <div class="row">
               <div class="col-md-4">
                  <img class="img-responsive center-block img-thumbnail" src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/1779265_10155916643365001_3083984374774315530_n.jpg?oh=a453df2192193ac6e1fdce094173c392&oe=5A111D65">
               </div>
               <div class="col-md-8">
                  <div class="jumbotron">
                     <h2 style="color:#2a7fb8;">Max Level Reaching!</h2>
                     <p>Someone who works in IT and enjoys building software. Working out of Singapore since 2012, I have experienced the meh-ness of electrical engineering followed by the sheer high of developing software applications. I like to dabble frequently in technological experiments. Hence, I do not have any overarching preference for any programming language or framework or device. (although I do most of my work in Python, Objective-C and Java). Recently, I have taken to WordPress design. It started off as a way for me to get this site up and running. </p>
                  </div>
               </div>
            </div>
            <hr class="hrrule" id="portfolio">
            <div class="row">
               <div class="col-md-5"></div>
               <div class="col-md-2" style="text-align:center;">
                  <span class="glyphicon glyphicon-tree-conifer"></span>
                  <br />
                  <h2>PORTFOLIO</h2>
               </div>
               <div class="col-md-5">
               </div>
            </div>
            <div class="row">
               <h4 class="text-center">iOS</h4>
               <div class="col-md-4">
                  <div class="thumbnail">
                     <img  class="img-responsive center-block img-thumbnail" src="http://is2.mzstatic.com/image/thumb/Purple128/v4/1a/02/c8/1a02c856-576f-43a6-c996-cf69d7f92900/source/175x175bb.jpg">
                     <div class="caption">
                        <a href="https://itunes.apple.com/us/app/cashtrack-expense-tracker-for-professionals/id1182245581?mt=8" target=_blank>
                           <p class="text-center">CashTrack-Expense Tracker for Prodessionals</p>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="thumbnail">
                     <img  class="img-responsive center-block img-thumbnail" src="http://is1.mzstatic.com/image/thumb/Purple5/v4/94/65/13/946513a6-eb8c-9d51-b7f4-62ecac60a943/source/175x175bb.jpg">
                     <div class="caption">
                        <a href="https://itunes.apple.com/us/app/zip-code-search-find-postal-areacodes-global/id893031254?mt=8" target=_blank>
                           <p class="text-center">Zip Code Search</p>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="thumbnail">
                     <img  class="img-responsive center-block img-thumbnail" src="http://is3.mzstatic.com/image/thumb/Purple3/v4/42/1f/62/421f621d-11ba-8178-52a1-bac1c833dbce/source/175x175bb.jpg">
                     <div class="caption">
                        <a target=_blank href="https://itunes.apple.com/us/app/map-projections-ultimate-guide-for-cartography/id963623651?mt=8">
                           <p class="text-center">Map Projections</p>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <h4 class="text-center">Web</h4>
               <div class="col-md-4">
                  <div class="thumbnail webwork">
                     <img  class="img-responsive center-block img-thumbnail" src="http://sinoda.com.sg/wp-content/uploads/2014/04/sinodaLOGONEWEST-transp-resized-smallEST.png">
                     <div class="caption">
                        <a href="http://sinoda.com.sg" target=_blank>
                           <p class="text-center">Sinoda Shipping</p>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="thumbnail webwork">
                     <img  class="img-responsive center-block img-thumbnail" src="http://transasia.com.sg/wp-content/uploads/2015/08/oie_20928M256YItL.png">
                     <div class="caption">
                        <a href="http://transasia.com.sg" target=_blank>
                           <p class="text-center">TransAsia</p>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="thumbnail webwork">
                     <img  class="img-responsive center-block img-thumbnail" src="http://horizonmarine.sg/wp-content/uploads/2017/01/horizonLogo.png">
                     <div class="caption">
                        <a target=_blank href="http://horizonmarine.sg/">
                           <p class="text-center">Horizon Marine</p>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <hr class="hrrule" id="contact">
            <div class="row">
               <div class="col-md-5"></div>
               <div class="col-md-2" style="text-align:center;">
                  <span class="glyphicon glyphicon-tree-conifer"></span>
                  <br />
                  <h2>CONTACT</h2>
               </div>
               <div class="col-md-5"></div>
            </div>
            <!--Preious row ends here-->
            <div class="row">
               <div class="col-md-7">
                  <form id="contactform">
                     <div class="form-group row">
                        <label for="name">Name: </label>
                        <input class="form-control" id="name" type="text" name="name" placeholder="Your Name">
                     </div>
                     <div class="form-group row">
                        <label for="email">Email: </label>
                        <input id="email" class="form-control" type="text" name="email" placeholder="Your Email">
                     </div>
                     <div class="form-group row">
                        <label for="subject">Subject: </label>
                        <input id="subject" class="form-control" type="text" name="subject" placeholder="Subject">
                     </div>
                     <div class="form-group row">
                        <label for="message">Message: </label>
                        <textarea id="message" class="form-control" name="message" placeholder="Your Message" rows=5></textarea>
                     </div>
                     <button>Submit</button>
                  </form>
               </div>
               <div class="col-md-5">
                  <code>You may <kbd>ask me anything.</kbd> I'd love to discuss tech, startups and pretty much anything
                  related to code.<br /><br />
                  def factorial(n):<br />
                  &nbsp;&nbsp;if n <= 1:<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;return 1<br />
                  &nbsp;&nbsp;return n * n-1<br />
                  </code>
               </div>
            </div>
         </div>
      </div>
      <footer class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-6" align="center">
                  <div>
                     <h3>A.B.O.U.T</h3>
                     <p>Made by <a rel="nofollow" href="http://vikrambahl.com">Vikram</a>.</p>
                     <img src="https://d33wubrfki0l68.cloudfront.net/bedf7bed858e08f8874df844da662d92ccd4777b/c159b/images/svg-vs-gif--animation-example.gif" width="80" height="80">
                  </div>
               </div>
               <div class="col-md-6" align="center">
                  <div>
                     <h3>Follow me on Social!</h3>
                     <ul class="list-inline">
                        <li><a rel="nofollow" class="button social" href="https://www.linkedin.com/in/vikram-bahl-0668bb1b/"><i class="fa fa-fw fa-linkedin"></i></a></li>
                        <li><a rel="nofollow" class="button social" href="https://github.com/svram"><i class="fa fa-fw fa-github"></i></a></li>
                        <li><a rel="nofollow" class="button social" href="https://twitter.com/@roverandum"><i class="fa fa-fw fa-twitter"></i></a></li>
                     </ul>
                     <img src="https://d33wubrfki0l68.cloudfront.net/bedf7bed858e08f8874df844da662d92ccd4777b/c159b/images/svg-vs-gif--animation-example.gif" width="80" height="80">
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <div class="container copyright">
         <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2" style="text-align:center;">
               <p style="display:inline-block;">© 2017 Vikram Bahl</p>
            </div>
            <div class="col-md-5"></div>
         </div>
      </div>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
      <script src='https://use.fontawesome.com/5ef09badb0.js'></script>
      <script src="{{ url_for('static',filename='js/index.js') }}"></script>
   </body>
</html>